BoxGames_Sitio/src/conf/xml-resources/web-service-references/GameService/wsdl/localhost_51138/GameService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoxGames_Services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/BoxGames_Services"><xs:complexType name="ArrayOfJuegosMesa"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="JuegosMesa" nillable="true" type="tns:JuegosMesa"/></xs:sequence></xs:complexType><xs:element name="ArrayOfJuegosMesa" nillable="true" type="tns:ArrayOfJuegosMesa"/><xs:complexType name="JuegosMesa"><xs:sequence><xs:element minOccurs="0" name="CantidadJuego" type="xs:int"/><xs:element minOccurs="0" name="DescripcionJuego" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ID_JuegoMesa" type="xs:int"/><xs:element minOccurs="0" name="ImagenJuego" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="NombreJuego" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="PrecioJuego" type="xs:int"/><xs:element minOccurs="0" name="TipoJuego" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="JuegosMesa" nillable="true" type="tns:JuegosMesa"/><xs:complexType name="CarritoCompra"><xs:sequence><xs:element minOccurs="0" name="ID_CarritoCompra" type="xs:int"/><xs:element minOccurs="0" name="ID_Cliente" type="xs:int"/><xs:element minOccurs="0" name="ID_JuegoMesa" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="CarritoCompra" nillable="true" type="tns:CarritoCompra"/></xs:schema>